.ServiceOfferForm, .ServiceSeekForm, .PersonalizeProfileForm {
  padding: 0 0 20px 0 ;
  color: black;
  border-radius: 5px;
  border-bottom: 2px solid #B0BCF2;
}

.ServiceOfferForm > h3, .ServiceSeekForm > h3, .PersonalizeProfileForm > h3{
  border-top: 2px solid #B0BCF2;
  border-bottom: 2px solid #B0BCF2;
  padding: 10px 0;
}

.add-service-button {
  background-color: #4e2bc1;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  color: whitesmoke;
  box-shadow: 5px 5px 5px #6b5898;
  min-width: 190px;
}

.manage-profile-img {
  max-width: 50%;
}

@media all and (min-width: 540px) {
  .ServiceOfferForm, .ServiceSeekForm, .PersonalizeProfileForm {
   max-width: 80%;
   margin: 0 auto 30px auto;
   border: 2px solid #B0BCF2;
   box-shadow: 5px 5px 5px #9ea9d7;
  }

  .ServiceOfferForm > h3, .ServiceSeekForm > h3, .PersonalizeProfileForm > h3{
    border-top: none;
    border-bottom: 2px solid #B0BCF2;
    padding: 10px 20px;
    text-align: left;
  }
}