.PersonalizeProfileForm {
  /* margin: 20px;  */
}

.PersonalizeProfile-form-div{
  padding: 10px;
}

textarea {
  width: 80%;
}


.add-userBio-button {
  background-color: #273b7a;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  color: whitesmoke;
  box-shadow: 5px 5px 5px #6b5898;
  min-width: 190px;
}
