.LandingPage-hero > h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
}

.LandingPage-hero > p {
  max-width: 80%;
  margin: 10px auto;
}

.LandingPage-hero > a {
  border: 2px solid black;
  margin: 15px ;
  padding: 5px 10px;
  background-color: #4e2bc1;
}

.hero-image {
  max-width: 250px;
}

.periwinkle {
  background-color: hsla(229, 72%, 82%, 0.6);
  border-radius: 0 10px 10px 0;
  max-width: 70%;
  padding: 20px;
  margin: 10px 0;
  text-align: left;
}

.LandingPage-how-it-works {
  background-color: #F2DFC9;
  min-height: 140px;
  padding: 20px;
  margin: 20px 0;
}

