.LandingPage-hero, .LandingPage-philosophy {
  margin-bottom: 50px;
}
.LandingPage-hero > h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
}

.hero-content-paragraphs, .LandingPage-philosophy > p{
  max-width: 80%;
  margin: 20px auto;
}
.hero-content-paragraphs > p {
  margin: 10px auto;
}

.LandingPage-hero > a {
  background-color: #4e2bc1;
  color: whitesmoke;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #48386c;
  font-size: 1.4em;
  padding: 10px 15px;
  /* min-width: 190px; */
}

.hero-image {
  max-width: 250px;
}

.periwinkle {
  background-color: hsla(229, 50%, 76%, 0.6);
  border-radius: 0 10px 10px 0;
  max-width: 70%;
  padding: 20px;
  margin: 10px 0;
  text-align: left;
}

.LandingPage-how-it-works {
  background-color: #F2DFC9;
  min-height: 140px;
  padding: 20px;
  margin: 20px 0;
}

.how-it-works-img {
  max-width: 120px;
  margin: 10px auto;
}
.LandingPage-how-it-works > p {
  font-weight: bold;
  margin-bottom: 20px;
}
.LandingPage-register {
  padding: 10px 10px 30px 10px;
}

.register-img {
  max-width: 250px;
}

.LandingPage-testimonials > blockquote {
  max-width: 80%;
  margin: 20px auto;

}

@media all and (min-width: 540px) {
  .hero-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .LandingPage-hero > h1 {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
  }
  
  .hero-content-paragraphs {
    max-width: 80%;
    margin-left: 60px;
    margin-right: 60px;
  }

  .hero-content-paragraphs > p {
    max-width: 300px;
    margin: 20px 0;
  }
  
  .periwinkle {
    text-align: center;
  }

  .how-it-works-img {
    max-width: 200px;
    margin: 40px 0;
  }
}