.LandingPage-hero {
  margin-bottom: 50px;
}
.LandingPage-hero > h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
}

.LandingPage-hero > p {
  max-width: 80%;
  margin: 10px auto;
}

.LandingPage-hero > a {
  background-color: #4e2bc1;
  color: whitesmoke;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #48386c;
  font-size: 1.4em;
  padding: 10px 15px;
  /* min-width: 190px; */
}

.hero-image {
  max-width: 250px;
}

.periwinkle {
  background-color: hsla(229, 72%, 82%, 0.6);
  border-radius: 0 10px 10px 0;
  max-width: 70%;
  padding: 20px;
  margin: 10px 0;
  text-align: left;
}

.LandingPage-how-it-works {
  background-color: #F2DFC9;
  min-height: 140px;
  padding: 20px;
  margin: 20px 0;
}

.how-it-works-img {
  max-width: 120px;
  margin: 10px auto;
}
.LandingPage-how-it-works > p {
  font-weight: bold;
  margin-bottom: 20px;
}

.register-img {
  max-width: 250px;
}